Package: com.opa334.fastsafaripw
Name: FastSafariPW
Depends: firmware (<=10.3.3), mobilesubstrate, ws.hbang.common
Version: 1.0
Architecture: iphoneos-arm
Description: A fast way to access 1Password or LastPass!
Maintainer: opa334
Author: opa334
Section: Tweaks
